<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Outingday</title>

    <!-- Bootstrap Core CSS --> 
	<link rel="shortcut icon" href="assets/images/favicon.png" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/ngProgress.css" rel="stylesheet">
    <link href="assets/js/Angularjs/angular-material.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="assets/css/modern-business.css" rel="stylesheet">
    <link href="assets/css/styles.css" rel="stylesheet">
	<link href="../../assets/css/detail.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Custom Fonts -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




    <script src="assets/js/Angularjs/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="assets/js/Angularjs/angular-messages.min.js"></script>
    <script src="assets/js/Angularjs/angular-material.min.js"></script>
    <script src="assets/js/Angularjs/ngprogress.min.js"></script>
    <script src="assets/js/Angularjs/angular-touch.min.js"></script>

    <script src="assets/js/Angularjs/angular-modal-service.min.js"></script>
    <script src="assets/js/Angularjs/ng-text-truncate.js"></script>

    <script src="assets/js/Angularjs/angular-route.min.js"></script>
    <script src="assets/js/Angularjs/angular-ui-router.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="assets/js/Angularjs/ngStorage.min.js"></script>
    <script src="assets/js/Angularjs/angular-cookies.min.js"></script>

    <script src="assets/app.js"></script>
    <script src="assets/js/Angularjs/common.js"></script>
    <script src="app/Resorts/localAreaService.js"></script>



</head>

<body style="background-color:#f3f3f3;" ng-app="MyApp" ng-controller="MainCtr as ctrl" class="ng-cloak">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class=" navbar-top">
		<span style="padding-left:5%; line-height:4;">
		<a href="index.html"><i class="fa fa-home" aria-hidden="true" style="color:white;font-size:25px;"></i></a>		</span>
		<span style=" float:right;color:white;padding-right:5%; line-height:3;">
		<!--<a href="#"><i style="color:#ffbb39;margin-right:10px;" >ComiCon</i></a>-->
            <!-- <span style="color:white;margin-right:10px; ">Blog</span> -->
		<a ><i class="fa fa-map-marker" aria-hidden="true" style="color:#ffbb39;font-size:17px;" ng-click="loadEditForm()" ></i></a>
          <span style="color:#ffbb39;font-size:17px;"data-ng-bind="regionModel()" ng-click="loadEditForm()"></span>
		<!--<a href="index.html" style="color:white;margin-right:10px;">Hyderabad</i></a>
		<a href="index.html"><i class="fa fa-map-marker" aria-hidden="true" style="color:#ffbb39;font-size:25px;"></i></a>-->
		</span>		</div>
        <div class="container" style="height:60px; margin-top:10px;">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>                </button>
                <a class="navbar-brand" href="#">Outing<span>Day</span></a>            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border:none;">
            	<div class="row" align="center" style=" margin-top:10px;background-color:#313496; padding-bottom:5px;">
                    <div class="col-lg-1 col-md-hidden col-xs-hidden" ></div>
                    <div class="col-lg-7 col-md-7 col-xs-12 " style="" align="center">
                        <div class="input-group" align="center">
                            <span class="input-group-btn" align="center">
                               <!-- <select class="form-control  btn-warning search-button" >
                                    <option>Resorts</option>
                                    <option>Hotels</option>
                                    <option>Restaurents</option>
                                 </select>-->
                               <div class="dropdown">
                                   <button class="dropbtn1">
                                        <a href="#">
                                            <span style="float:left;"><i class="fa fa-th-large" aria-hidden="true" style="color:#313496;font-size:12px;"></i><span style="font-size:14px;"> &nbsp;All&nbsp;</span></span>
 <span style="float:right; margin-right:12px;">
 <i class="fa fa-caret-down" aria-hidden="true" style="color:#313496;font-size:14px;"></i>
 </span></a>
                                    </button>

                                    <div class="dropdown-content">
                                        <div class="D_dropdown">
                                            <a href="#" style="height:50px"><div class="D_dropdown_span"><img src="../../assets/images/resorts.png" width="18px" height="18px"></div><div class="D_dropdown_span2">Resorts</div></a>
                                        </div>
                                        <div class="D_dropdown">
                                            <a href="#" style="height:50px"><div class="D_dropdown_span"><img src="../../assets/images/hotel.png" width="18px" height="20px"></div><div class="D_dropdown_span2">Hotels</div></a>
                                        </div>
                                        <div class="D_dropdown">
                                            <a href="#" style="height:50px"><div class="D_dropdown_span"><img src="../../assets/images/restaurants.png" width="17px" height="17px"></div><div class="D_dropdown_span2">Restaurants</div></a>
                                        </div>
                                    </div>
                                </div>
                            </span>


                            <md-autocomplete ng-disabled="ctrl.isDisabled" md-no-cache="ctrl.noCache" md-selected-item="ctrl.selectedItem" md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                                             md-search-text="ctrl.searchText" md-selected-item-change="MainSearch()" md-items="item in ctrl.querySearch(ctrl.searchText)"
                                             md-item-text="item.localArea" md-min-length="0" placeholder="Search for Resorts" md-menu-class="autocomplete-custom-template" >
                                <md-item-template >
                                  <span class="item-title" >
                                 <md-icon><i class="fa fa-map-marker" aria-hidden="true" style="color:#ffbb39;font-size:25px;"></i> </md-icon>
                                 <span> {{item.localArea}} </span>                                     </span>
                               <!--  <span class="item-metadata">
                                  <span>
                              <strong>{{item.metro}}</strong>                                 </span>
                                 <span>
                             <strong>{{item.forks}}</strong>
                                 </span>
                                 </span>-->
                                </md-item-template>
                            </md-autocomplete>

                        </div><!-- /input-group -->
                        <!--<md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>-->
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-2 col-md-2 col-xs-12" style="color:#fff;margin-top:8px; text-align:center;padding:0;font-size:10pt;">SignUp / SignIn</div>
                </div>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner carousel_BG" style="">
            <div class="item active">
                <div class="fill" style=" background-image:url(assets/images/resort_1.jpg);"></div>
                <div class="carousel-caption">
                    <h2 style="color:#ffec00">Starting Price<br> @ 2500/- Only</h2>
                    <h2><a href="#" style="color:#fff;">Book Now</a></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url(assets/images/resort_2.jpg);"></div>
                <div class="carousel-caption">
                     <h2 style="color:#ffec00">Starting Price<br> @ 2500/- Only</h2>
                    <h2><a href="#" style="color:#fff;">Book Now</a></h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url(assets/images/resort_3.jpg);"></div>
                <div class="carousel-caption">
                     <h2 style="color:#ffec00">Starting Price<br> @ 2500/- Only</h2>
                    <h2><a href="#" style="color:#fff;">Book Now</a></h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>        </a>    </header>

    <!-- Page Content -->
    <div class="container">
		<!-- Portfolio Offers -->
        <div class="row">
        	<div class="col-lg-12">
                <h2 class="page-header" style="text-align:center;">Offers</h2>
            </div>
        </div>
        <div class="row" style="background-color:#fff; padding:10px 5px 10px 5px; ">
            
            <div class="col-md-3 col-sm-6 offers-columns-padding" ng-repeat="offer in offersList" href="#" ng-click="offerCall(offer.offerparkId)">
                <div class="row no-pad-mar">
                	<a href="#"><img class="img-responsive img-portfolio img-hover" src="assets/ResortsImages/offers/{{offer.offerimg}}" alt="" ></a>                </div>
                <div class="row no-pad-mar" style="margin:0 6px 0 6px;"  >
                	{{offer.offerdes}}               </div>
                
                <div class="row">&nbsp;</div>
                
                <div class="row no-pad-mar h4" style="margin:0 6px 0 6px;color:#2c3091;" >
                	{{offer.offerrating}}               </div>
            </div>
            
           <!-- <div class="col-md-3 col-sm-6 offers-columns-padding" >
                <div class="row no-pad-mar">
                	<a href="#"><img class="img-responsive img-portfolio img-hover" src="assets/images/offer_2.jpg" alt="" ></a>                </div>
                <div class="row" style="margin:0 6px 0 6px;" >
                	It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset .                </div>
                 <div class="row">&nbsp;</div>
                
                <div class="row no-pad-mar h4" style="margin:0 6px 0 6px;color:#2c3091;" >
                	Starting rating - 1500/-                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 offers-columns-padding">
                <div class="row no-pad-mar" >
                	<a href="#"><img class="img-responsive img-portfolio img-hover" src="assets/images/offer_3.jpg" alt="" ></a>                </div>
                <div class="row no-pad-mar" style="margin:0 6px 0 6px;" >
                	It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset .                </div>
                 <div class="row">&nbsp;</div>
                
                <div class="row no-pad-mar h4" style="margin:0 6px 0 6px;color:#2c3091;" >
                	Starting rating - 1500/-                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 offers-columns-padding" >
                <div class="row no-pad-mar">
                	<a href="#"><img class="img-responsive img-portfolio img-hover" src="assets/images/offer_4.jpg" alt="" ></a>                </div>
                <div class="row no-pad-mar" style="margin:0 6px 0 6px;"  >
                	It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset .                </div>
                 <div class="row">&nbsp;</div>
                
                <div class="row no-pad-mar h4" style="margin:0 6px 0 6px;color:#2c3091;" >
                	Starting rating - 1500/-                </div>
            </div>-->
        </div>
        <!-- /.row -->
        
        
        <!-- Portfolio Offers -->
        <div class="row">
        	<div class="col-lg-12">
                <h2 class="page-header" style="text-align:center;">Popular Category</h2>
            </div>
        </div>
        
        <div class="row">
        	<div class="col-md-8 col-sm-6">
            
            <!-- Popular Row 1 Begins -->
            	<div class="row" style=" padding:10px 5px 10px 5px; "  >
            		<!-- Popular 1 Begins -->
                    <div class="col-md-6 col-sm-6 offers-columns-padding"  ng-repeat="popularCategory in popularCategoryList" href="#" ng-click="popularCall(popularCategory.popularparkId)">
                        <div class="row no-pad-mar" style="border:solid 1px #ccc;margin:1%;" >
                        	<div class="col-md-6 col-sm-6 col-xs-12 no-pad-mar">
                            	<img class="img-responsive img-portfolio img-hover  no-pad-mar" src="assets/ResortsImages/PopularCategory/{{popularCategory.popularimg}}" alt="" >                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" style="background-color:#fff;">
                            	<div class="row no-pad-mar" style="padding:5px 0 5px 0;">
                                	<strong>{{popularCategory.popularname}}</strong>                                </div>
                            	<div class="row no-pad-mar h6 " >
                                    {{popularCategory.populardes}}                            </div>
                                <div class="row no-pad-mar">
                                	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                    	<div class="row "><meter value="4.1" min="0" max="5" >&nbsp;</meter></div>
                                    	<div class="row">reviews</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-top:8px;">
                                    	<span style="background-color:#227f4c; color:#fff;padding:5px;">{{popularCategory.popularrating}}</span>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Popular 1  Ends -->
                    
                    <!-- Popular 2 Begins -->
                   <!-- <div class="col-md-6 col-sm-6 offers-columns-padding" >
                        <div class="row no-pad-mar" style="border:solid 1px #ccc;">
                        	<div class="col-md-6 col-sm-6 col-xs-12 no-pad-mar">
                            	<img class="img-responsive img-portfolio img-hover  no-pad-mar" src="assets/ResortsImages/PopularCategory/pop_2.jpg" alt="" >                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" style="background-color:#fff;">
                            	<div class="row no-pad-mar" style="padding:5px 0 5px 0;">
                                	<strong>Resort Name</strong>                                </div>
                            	<div class="row no-pad-mar h6 ">
                                	This property is 9 minutes walk from the beach. Located in Baga, 1.9 km from Britto's, Ticlo Resorts.                                </div>
                                <div class="row no-pad-mar">
                                	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                    	<div class="row "><meter value="4.8" min="0" max="5" >&nbsp;</meter></div>
                                    	<div class="row">reviews</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-top:8px;">
                                    	<span style="background-color:#227f4c; color:#fff;padding:5px;">4.8</span>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- Popular 2  Ends -->
                </div>
                 <!-- Popular Row 1 Ends -->
                
                 <!-- Popular Row 2 Begins -->
            	<!--<div class="row" style=" padding:10px 5px 10px 5px; display:none;">
            		&lt;!&ndash; Popular 3 Begins &ndash;&gt;
                    <div class="col-md-6 col-sm-6 offers-columns-padding" >
                        <div class="row no-pad-mar" style="border:solid 1px #ccc;">
                        	<div class="col-md-6 col-sm-6 col-xs-12 no-pad-mar">
                            	<img class="img-responsive img-portfolio img-hover  no-pad-mar" src="assets/ResortsImages/PopularCategory/pop_3.jpg" alt="" >                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" style="background-color:#fff;">
                            	<div class="row no-pad-mar" style="padding:5px 0 5px 0;">
                                	<strong>Resort Name</strong>                                </div>
                            	<div class="row no-pad-mar h6 " >
                                	This property is 9 minutes walk from the beach. Located in Baga, 1.9 km from Britto's, Ticlo Resorts.                                </div>
                                <div class="row no-pad-mar">
                                	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                    	<div class="row "><meter value="3.5" min="0" max="5" >&nbsp;</meter></div>
                                    	<div class="row">reviews</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-top:8px;">
                                    	<span style="background-color:#227f4c; color:#fff;padding:5px;">3.5</span>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; Popular 3  Ends &ndash;&gt;
                    
                    &lt;!&ndash; Popular 4 Begins &ndash;&gt;
                    <div class="col-md-6 col-sm-6 offers-columns-padding" >
                        <div class="row no-pad-mar" style="border:solid 1px #ccc;">
                        	<div class="col-md-6 col-sm-6 col-xs-12 no-pad-mar">
                            	<img class="img-responsive img-portfolio img-hover  no-pad-mar" src="assets/ResortsImages/PopularCategory/pop_4.jpg" alt="" >                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12" style="background-color:#fff;">
                            	<div class="row no-pad-mar" style="padding:5px 0 5px 0;">
                                	<strong>Resort Name</strong>                                </div>
                            	<div class="row no-pad-mar h6 ">
                                	This property is 9 minutes walk from the beach. Located in Baga, 1.9 km from Britto's, Ticlo Resorts.                                </div>
                                <div class="row no-pad-mar">
                                	<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">
                                    	<div class="row "><meter value="3.8" min="0" max="5" >&nbsp;</meter></div>
                                    	<div class="row">reviews</div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4" style="padding-top:8px;">
                                    	<span style="background-color:#227f4c; color:#fff;padding:5px;">3.8</span>                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash; Popular 4  Ends &ndash;&gt;
                </div>-->
                 <!-- Popular Row 2 Ends -->
            </div>
            <!-- New Letter Begins -->
            <div class="col-md-4 col-sm-6" style="padding-top:10px;">
            	<div class="row">
                	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="border:solid 1px #ccc; height:270px; background-color:#fff;">
                    	<div class="row">
                        	<div style="background-color:#121528; font-size:16px; border:solid 1px #fff; font-weight:bold; padding:10px 0 10px 0; text-align:center; color:#fff;">
                            	Subscribe to News Letter                            </div>
                        </div>
                        <div class="row" style="background-color:#fff;">
                        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:10px;">
                            	Subscribe here to get News Letter            </div>
                        </div>
                        <div class="row" style="background-color:#fff;">
                        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:10px;">
                            	<input type="text" class="form-control" placeholder=""  details="details"  >
                            </div>
                        </div>
                        <div class="row" style="background-color:#fff;">
                        	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding:10px;">
                            	 <a class="btn btn-lg btn-primary btn-block" style="background-color:#2c3091;" href="#">Subscribe Now</a>                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <!-- New Letter Ends -->
        </div>
        
        
        
        
        <!-- /.row -->
        

		<!-- Why Book with us begins-->
        
         <div class="row">
        	<div class="col-lg-12">
                <h2 class="page-header" style="text-align:center;">Why book with Us</h2>
            </div>
        </div>	
        
        <div class="row" style="padding:10px 5px 10px 5px; ">
            
            <div class="col-md-3 col-sm-6 offers-columns-padding" >
                <div class="row no-pad-mar" align="center">
                	<a href="#"><img class="img-responsive img-portfolio img-hover" src="assets/images/image_vta.png" alt="" ></a>                </div>
                <div class="row no-pad-mar h4" align="center" style="padding:0px 0 10px 0; font-size:20px;">Verified Travel Agents</div>
                 <div class="row no-pad-mar h5 " style="margin:0 10px 0 10px; text-align:justify;" >
                	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 offers-columns-padding" >
                <div class="row no-pad-mar" align="center">
                	<a href="#"><img class="img-responsive img-portfolio img-hover" src="assets/images/image_cp.png" alt="" ></a>                </div>
                 <div class="row no-pad-mar h4" align="center" style="padding:0px 0 10px 0; font-size:20px;">Customer Packages</div>
                 <div class="row no-pad-mar h5 " style="margin:0 10px 0 10px; text-align:justify;" >
                	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 offers-columns-padding">
                <div class="row no-pad-mar" align="center">
                	<a href="#"><img class="img-responsive img-portfolio img-hover" src="assets/images/image_cmq.png" alt="" ></a>                </div>
                 <div class="row no-pad-mar h4" align="center" style="padding:0px 0 10px 0; font-size:20px;">Compare Multiple Quotes</div>
                <div class="row no-pad-mar h5 " style="margin:0 10px 0 10px; text-align:justify;" >
                	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 offers-columns-padding" >
                <div class="row no-pad-mar" align="center">
                	<a href="#"><img class="img-responsive img-portfolio img-hover" src="assets/images/image_ms.png" alt="" ></a>                </div>
                 <div class="row no-pad-mar h4" align="center" style="padding:0px 0 10px 0 ; font-size:20px;">100% Money Safe</div>
               <div class="row no-pad-mar h5 " style="margin:0 10px 0 10px; text-align:justify;" >
                	There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.                </div>
            </div>
        </div>
        <!-- Why book with us ends-->
    </div>
    <!-- Containter Ends-->

    <script type="text/ng-template" id="modal1.html">
        <div class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" ng-click="close('Cancel')" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Yes or No?</h4>
                    </div>
                    <div class="modal-body">
                        <p>It's your call...</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" ng-click="close('No')" class="btn btn-default" data-dismiss="modal">No</button>
                        <button type="button" ng-click="close('Yes')" class="btn btn-primary" data-dismiss="modal">Yes</button>
                    </div>
                </div>
            </div>
        </div>
    </script>

     <!-- Footer -->
 <div class="container-fluid">   
   
        <div class="row" style="background-color:#0c0e1b; ">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            	<div class="row" style="background-color:#121528;padding:10px 30px 10px 30px;">
                   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"  style="color:#fff; padding-top:6px;">Certified Logos</div>
                   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="text-align:right;" >
                    <a href="#" class="facebook"><img  src="assets/images/social_blank.png" alt="" ></a>
                    <a href="#" class="twitter"><img  src="assets/images/social_blank.png" alt="" ></a>
                    <a href="#" class="instagram"><img  src="assets/images/social_blank.png" alt="" ></a>
                    <a href="#" class="pinterest"><img  src="assets/images/social_blank.png" alt="" ></a>                   </div>
                </div>
             
             	<div class="row" style="padding:30px;">
                	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" align="center">
                    	<img  src="assets/images/Logo_Footer.png" alt=""><br><span style="color:#fff;">© 2016 Outingday Pvt. Ltd.</span>                    </div>	
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="padding-top:20px;">
                    	<div class="row">
                        	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="color:#fff;"> 
                            	<p class="h4">COMPANY</p>
                                <ul class="footerlist">
                                    <li ><a href="#" class="footerlinks">Career</a></li>
                                    <li><a href="#" class="footerlinks">About Us</a></li>
                                    <li><a href="#" class="footerlinks">Services</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="color:#fff;"> 
                            	<p class="h4">COMPANY</p>
                                 <ul class="footerlist">
                                    <li ><a href="#" class="footerlinks">Career</a></li>
                                    <li><a href="#" class="footerlinks">About Us</a></li>
                                    <li><a href="#" class="footerlinks">Services</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="color:#fff;"> 
                            	<p class="h4">COMPANY</p>
                                 <ul class="footerlist">
                                    <li ><a href="#" class="footerlinks">Career</a></li>
                                    <li><a href="#" class="footerlinks">About Us</a></li>
                                    <li><a href="#" class="footerlinks">Services</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="color:#fff;"> 
                            	<p class="h4">COMPANY</p>
                                 <ul class="footerlist">
                                    <li ><a href="#" class="footerlinks">Career</a></li>
                                    <li><a href="#" class="footerlinks">About Us</a></li>
                                    <li><a href="#" class="footerlinks">Services</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>	
                </div>
            </div>
        </div>
 </div>
    
    
    <!-- /.container -->

    <!-- jQuery -->
    <script src="assets/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>
</html>
