<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Outingday</title>

    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/ngProgress.css" rel="stylesheet">
    <link href="../../assets/js/Angularjs/angular-material.min.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link href="../../assets/css/modern-business.css" rel="stylesheet">
    <link href="../../assets/css/styles.css" rel="stylesheet">
	<link href="../../assets/css/detail.css" rel="stylesheet">
	<link href="../../assets/css/packagecss.css" rel="stylesheet">
    <link href="https://rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.css" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   
    <link href="../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
<link href="../../assets/css/customstyles.css" rel="stylesheet" type="text/css" />
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="../../assets/js/Angularjs/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-messages.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-material.min.js"></script>
    <script src="../../assets/js/Angularjs/ngprogress.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-touch.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-modal-service.min.js"></script>
    <script src="../../assets/js/Angularjs/ng-text-truncate.js"></script>

    <script src="../../assets/js/Angularjs/angular-route.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-ui-router.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="../../assets/js/Angularjs/ngStorage.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js"></script>

    <script src="../../assets/app.js"></script>
    <script src="../../assets/js/Angularjs/common.js"></script>
    <script src="../../app/Resorts/ResortCtr.js"></script>
    <script src="../../app/Resorts/ResortService.js"></script>
    <script src="../../app/Resorts/ResortdetailCtr.js"></script>
    <script src="../../app/Resorts/ResortdetailService.js"></script>
    <script src="../../app/Resorts/packageDetailsCtr.js"></script>
    <script src="../../app/Resorts/confirmationDetailsCtr.js"></script>



</head>
<style>

</style>

<body style="background-color:#f3f3f3;" ng-controller="confirmationDetailCtr" class="ng-cloak">

   
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class=" navbar-top">
		<span style="padding-left:5%; line-height:3;">
		<a href="../../index.html"><i class="fa fa-home" aria-hidden="true" style="color:white;font-size:25px;"></i></a>
		</span>
		<!-- <span style=" float:right;color:white;padding-right:5%; line-height:3;"> -->
		<!-- <a href="index.html" style="color:#ffbb39;margin-right:10px;">ComiCon</i></a> -->
		<!-- <a href="index.html" style="color:white;margin-right:10px;">Blog</i></a> -->
		
		<!-- </span> -->
		</div>
        <div class="container" style="height:60px; margin-top:10px;">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
                <a class="navbar-brand" href="index.html">Outing<span>Day</span></a>
				<a class="navbar-brand" style="font-size:16px;color:#858585 !important;">Package Details</a>
				<a class="navbar-brand" ><i class="fa fa-caret-right" aria-hidden="true" style="font-size:27px;color:#858585;"></i></a>
				<a class="navbar-brand" style="font-size:16px; ">Confirmation Details</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border:none;">
            	<div class="row" align="center" style=" margin-top:10px;background-color:#313496; padding-bottom:5px;">
                    <div class="col-lg-1 col-sm-hidden col-md-hidden col-xs-hidden" ></div>
                    <div class="col-lg-7 col-sm-6 col-md-7 col-xs-12 " style="" align="center">
                        <div class="input-group" align="center">
                            <span class="input-group-btn" align="center">
                               
                            </span>
                           
                        </div>
                    </div>
                    <!-- <div class="col-lg-2  col-sm-2 col-md-2 col-xs-12" style="color:#fff;margin-top:8px; text-align:center;padding:0;font-size:10pt;">SignUp / SignIn</div> -->
                </div>
            </div>
            
        </div>
        
    </nav>

    <header><div style="padding-top:5%;"></div></header>
	<div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="result_title">Confirmation Details</h1>
            </div>
        </div>   
        
        <div class="row">
            <div class="col-lg-7 col-sm-7 col-md-7 col-xs-12 whitebg_margin" style="background-color:white;"> 
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="" >
                    	<div class="row" >
                            <div class="col-md-3" align="center">
                                <img src="../../assets/ResortsImages/{{resListPhoto}}" alt="thumbnail" class="img-rounded" height="150" width="150" align="left">
                            </div>
                            <div class="col-md-9">
                            	<h4 class="result_title">Travel Confirmation</h4>
								<h6 class="detailtitle">{{resListName}}</h6>
                                <h6 class="detailtext3">{{resListDes}}</h6>
                            </div>
                        </div>
                    
                    	
                        
                        <h4 class="detailtitle">Package Information</h4>
                         
                         
                           	
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext" >Room 1</h6>
                                	<h6 class="packagesubtext" >Adult - 1 , Children - 2</h6>
                                </div>
                            </div>
                            
                          
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext">Date</h6>
                                	<h6 class="packagesubtext" >02-05-2017</h6>
                                </div>
                            </div>
                            
                          
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext">Price Breakup</h6><p class="subcost">{{bookParkcurrentPrice | INR}}</p>
                                	<h6 class="packagesubtext">One Room X Two Nights</h6>
                                </div>
                            </div>
                            
                           
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext">Coupon</h6><p class="subcost">0.00 INR</p>
                                	<h6 class="packagesubtext" style="color:transparent;">One Room X Two Nights</h6>
                                </div>
                            </div>
                            
                           
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext">Promo Discount</h6><p class="subcost">0.00 INR</p>
                                	<h6 class="result_title14 transparenttext" style="color:transparent;">One Room X Two Nights</h6>
                                </div>
                            </div>
                            
                            <div class="card">
                            	<div class="card-block cardcss">
                            		<h6 class="packagetitletext">Service Tax</h6><p class="subcost">0.00 INR</p>
                            		<h6 class="packagesubtext" style="color:transparent;">One Room X Two Nights</h6>
                            	</div>
                        	</div>
                            
                            <!-- <div class="card"> -->
                            	<!-- <div class="card-block cardcss"> -->
                                    <!-- <div class="row" ng-repeat="facility in FacilityNameList"> -->
                                    <!-- <div class="col-md-6" style="padding-left:3%;"> -->
                                    <!-- <h6 class="packagesubtext"><i class="fa fa-times-circle" aria-hidden="true" style="color:#bfbfbf;"></i><span style="padding-left:2%;">&nbsp;</span>{{facility.facilityTypeTitle}}</h6> -->
                                    <!-- </div>			 -->
                                    
                                    <!-- <div class="col-md-6" align="right"> -->
                                    <!-- <h6 class="result_title18 price_color" style="font-family: Open Sans !important;">{{facility.currentPrice | INR}}</h6> -->
                                    <!-- </div> -->
                                    <!-- </div> -->
                            	<!-- </div> -->
                            <!-- </div> -->
                        <div class="card">
                            <div class="card-block cardcss">
                                <div class="row" ng-repeat="facility in FacilityNameList">
                                    <div class="col-md-4" style="padding-left:3%;">
                                        <h6 class="result_title15" style="font-family: Open Sans !important;"><span style="padding-left:2%;">&nbsp;</span>{{facility.itemName}} </h6>
                                        <!--<h6 class="result_title15" style="font-family: Open Sans !important;"><i class="fa fa-times-circle" aria-hidden="true" style="color:#bfbfbf;"></i><span style="padding-left:2%;">&nbsp;</span>Day Care</h6>
                                        <h6 class="result_title15" style="font-family: Open Sans !important;"><i class="fa fa-times-circle" aria-hidden="true" style="color:#bfbfbf;"></i><span style="padding-left:2%;">&nbsp;</span>Water Park</h6>-->
                                    </div>

                                    <div class="col-md-4" align="center">
                                        <h6 class="result_title18 price_color" style="font-family: Open Sans !important;">{{facility.noOfItems}}  x  {{facility.orgPrice}}</h6>
                                    </div>

                                    <div class="col-md-4" align="right">
                                        <h6 class="result_title18 price_color" style="font-family: Open Sans !important;">{{facility.totalPrice | INR}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="card" >
                          		<div class="card-block cardcss" >
                            	<h6 class="packagetitletext">Total</h6><p class="totalcost">{{sum | INR}}</p>
                            	<h6 class="packagesubtext" >One Room X Two Nights</h6>
                            </div>
                            <div class="padding"></div>
                           
                            </div>
                            
                            
                        
                        <div class="row" align="center" style="margin:10px 30px 0 30px">
                          <button type="button" class="btn  btn-md" style="background-color:#33349B;border:1px solid #33349B;color:white;" ng-click="makePaymentCall()">Payment</button>
                         </div>
                       
               	 </div>
            	</div>
                 <div class="row">&nbsp;</div>
             </div>  
            <div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 whitebg_margin" style="background-color:white;border-radius:6px;float:right;">
            	<div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 "><h1 class="result_title">Customer Details </h1></div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 result_title ">
                    	<h6 class="detailtitle7">Name:<span class="detailtext7"> {{mrs}}. {{FirstName}} {{LastName}}</span></h6>
                        <h6 class="detailtitle7">Email:<span class="detailtext7">{{Email}}</span></h6>
                        <h6 class="detailtitle7">Phone Number :<span class="detailtext7">{{PhoneNumber}}</span></h6>
                    </div>
                </div>
            </div>
       </div>
        <div class="row">&nbsp;</div>
       
	</div>







	 
	 
	 
	 
	 
	 
	 

    
  
    <script src="../../assets/js/jquery.js"></script>

   
    <script src="../../assets/js/bootstrap.min.js"></script>

   
    <script>
    $('.carousel').carousel({
        interval: 5000 
    })
    </script>

</body>

</html>
