<!DOCTYPE html>
<html lang="en" ng-app="MyApp">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>Outingday</title>

    <link rel="shortcut icon" href="../../assets/images/favicon.png" />
    <link href="../../assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../assets/css/ngProgress.css" rel="stylesheet">
    <link href="../../assets/js/Angularjs/angular-material.min.css" rel="stylesheet">

     <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato" />
    <link href="../../assets/css/modern-business.css" rel="stylesheet">
    <link href="../../assets/css/styles.css" rel="stylesheet">
	<link href="../../assets/css/detail.css" rel="stylesheet">
	<link href="../../assets/css/packagecss.css" rel="stylesheet">
    <link href="https://rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.css" rel="stylesheet">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

   
    <link href="../../assets/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'/>
<link href="../../assets/css/customstyles.css" rel="stylesheet" type="text/css" />
    
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="../../assets/js/Angularjs/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-messages.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-material.min.js"></script>
    <script src="../../assets/js/Angularjs/ngprogress.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-touch.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-modal-service.min.js"></script>
    <script src="../../assets/js/Angularjs/ng-text-truncate.js"></script>

    <script src="../../assets/js/Angularjs/angular-route.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-ui-router.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="../../assets/js/Angularjs/ngStorage.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-cookies.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.js"></script>
    <script src="//rawgit.com/indrimuska/angular-moment-picker/master/dist/angular-moment-picker.js"></script>

    <script src="../../assets/app.js"></script>
    <script src="../../assets/js/Angularjs/common.js"></script>
    <script src="../../app/Resorts/ResortCtr.js"></script>
    <script src="../../app/Resorts/ResortService.js"></script>
    <script src="../../app/Resorts/ResortdetailCtr.js"></script>
    <script src="../../app/Resorts/ResortdetailService.js"></script>
    <script src="../../app/Resorts/packageDetailsCtr.js"></script>



</head>
<style>

</style>

<body style="background-color:#f3f3f3;" ng-controller="packageDetailCtr as ctrl" class="ng-cloak">

   
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    	<div class=" navbar-top">
		<span style="padding-left:5%; line-height:3.5;">
		<a href="../../index.html"><i class="fa fa-home" aria-hidden="true" style="color:white;font-size:25px;"></i></a>
		</span>
		<!-- <span style=" float:right;color:white;padding-right:5%; line-height:3;"> -->
		<!-- <a href="index.html" style="color:#ffbb39;margin-right:10px;">ComiCon</i></a> -->
		<!-- <a href="index.html" style="color:white;margin-right:10px;">Blog</i></a> -->
		
		<!-- </span> -->
		</div>
        <div class="container" style="height:60px; margin-top:10px;">
           
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    
                </button>
                <a class="navbar-brand" href="../../index.html">Outing<span>Day</span></a>
				<a class="navbar-brand" style="font-size:16px;">Package Details</a>
				<a class="navbar-brand" ><i class="fa fa-caret-right" aria-hidden="true" style="font-size:27px;color:#858585;"></i></a>
				<a class="navbar-brand" style="font-size:16px; color:#858585 !important;">Confirmation Details</a>
            </div>
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="border:none;">
            	<div class="row" align="center" style=" margin-top:10px;background-color:#313496; padding-bottom:5px;">
                    <div class="col-lg-1 col-sm-hidden col-md-hidden col-xs-hidden" ></div>
                    <div class="col-lg-7 col-sm-6 col-md-7 col-xs-12 " style="" align="center">
                        <div class="input-group" align="center">
                            <span class="input-group-btn" align="center">
                               
                            </span>
                        </div>
                    </div>
                    <!-- <div class="col-lg-2  col-sm-2 col-md-2 col-xs-12" style="color:#fff;margin-top:8px; text-align:center;padding:0;font-size:10pt;">SignUp / SignIn</div> -->
                </div>
            </div>
        </div>
    </nav>
	<header><div style="padding-top:5%;"></div> </header>
	 
<div class="container">
	
	<div class="row">&nbsp;</div>
    <div class="row">
	<h2 class="result_title">Booking Package Details</h2>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            
        </div>
    </div>
    
    <div class="row">
    	<div class="col-lg-7 col-sm-7 col-md-7 col-xs-12 whitebg_margin">
        	<div class="row">
            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  ">
                	<div class="row">
                        <div class="col-md-6 col-sm-6 offers-columns-padding" ng-repeat="bookpark in bookParkList" ng-show="bookpark.facilityType == 'O'" style="">
                        	<h5 class="detailtitle" style="text-transform:capitalize;">{{bookpark.facilityTypeTitle}}</h5>
                        <div class="row no-pad-mar" style="border:solid 1px #ccc;background-color:white;border-radius:6px;">
                        <div class="" style="padding:2px;margin-bottom:5px;"><img class="img-responsive img-portfolio img-hover  no-pad-mar img-rounded" src="../../assets/ResortsImages/{{bookpark.facilityImage}}" alt=""  style="height:200px;width:100%;">                            </div>
                        <!-- <hr style="width: 100%; color: #d5d5d5; height: 0.5px; background-color:#d5d5d5;" /> -->
							<div style="border-top:1px solid #d5d5d5;padding-left:2%;padding-right:2%;">
							&nbsp;
							</div>
						<div class="row" style="padding-left:1%;padding-right:1%;">
							
                            <div class="col-sm-7" style="">
                            	<h6 class="detailtext1"  ng-text-truncate="bookpark.facilityInRoomFacilites"ng-tt-chars-threshold="100" ></h6>
                            </div>
                            <div class="col-sm-4" >
                            
                            <!--<h5 class="result_title14" style="color:#C34F5E;font-weight:bold !important;;text-align:right;font-size:14px;font-family: Open Sans !important;"><strike>{{bookpark.regularPrice | INR}}</strike></h5>-->
                            <h5 class="detailtext1" style="color:#C34F5E;font-weight:bold !important;">{{bookpark.currentPrice | INR}}</h5>
                            <button type="button" class="btn  btn-md btn-block"  ng-click="add=true;qty=qty+1;addBookCall(bookpark)"   ng-hide="qty!=0" style="background-color:#33349B;border:1px solid #33349B;color:white;">Add</button>
                            
                            <div class="padding2"></div><br>
                            <div class="row" ng-show="add"   style="padding-top:1%;">
                            
                            <form id='myform' ng-hide="qty==0">
                            <!--  <md-button class="md-fab" aria-label="Eat cake" ng-click="decrement()" ng-disabled="qty<=0">
                            <md-icon md-svg-src="../../assets/images/add.svg"></md-icon>
                            </md-button>-->
                            <button ng-click="qty=qty-1;subCall(bookpark)" class='qtyminus'  ng-disabled="qty<=0">-</button>
                            <input  ng-model="qty" type='text' name='quantity' class='qty' style="height:22px;border:none;width:20px;text-align:center;"/>
                            <button ng-click="qty=qty+1;addCall(bookpark)">+</button>
                            <!--<md-button class="md-fab" aria-label="Eat cake" ng-click="increment()">
                            <md-icon md-svg-src="../../assets/images/remove.svg"></md-icon>
                            </md-button>-->
                            </form>
                            
                            </div>
                            </div>
                        </div>
                        </div>
                        
                        
                        <!-- <h6 class="result_title14" style="word-wrap:break-word;" >This upscale resort, set on 5 hectares of lush greenery, is a 5-minute walk from Osman Sagar Lake and 11 km from the Golkonda medieval fortress. Fe</h6> -->
                        </div>
                        
                        <!-- Extra Fields Begins-->
                  
                        <!-- Extra Fields Ends-->
                        
                   </div>
                </div>
            </div>
        	<div class="row">&nbsp;</div>
            <div class="row">
            	<div class="col-xs-12 ">
              		<button type="button" class="btn btn-default btn-block btn-md" style="background-color:#f9fcff;width:100%;border-radius:6px;">
                    <label class="radio block" style="padding-left:10%;"> <input type="radio" name="GuestLogin" checked=""> <span class="outer"><span class="inner"></span></span>
                        <span class="labeltext "> <span class="label-txt lato-semibold block">CONTINUE AS GUEST</span></span>
                    </label>
           		</div>
            </div>
            <div class="row">&nbsp;</div>
            <div class="row" style="background-color:white;padding:2%;border:1px solid #d5d5d5;border-radius:6px;">
            	<div class="col-xs-12 ">
                <form name="registration_form" id="registration_form" ng-submit="submit()" class="form-horizontal">
                <div class="form-group">
                <div class="col-sm-4">
                <label for="Title" class="package_form detailform" >Title :</label>
                <div class="input-group" style="width:100%;" >
                                           <select name="State" id="State" ng-model="mrs" class="validate[required] form-control detailformtext">
                                           <option value=""></option>                    
                                           <option value="MR">MR</option>
                                           <option value="MRS">MRS</option>
                                           <option value="MISS">MISS</option>
                                           </select>                                                       
                                       </div>
                </div> 
                <div class="col-sm-4">
                <label for="firstname" class="package_form detailform" >First Name :</label>
                <input id="firstname" class="form-control input-group-lg reg_name detailformtext" ng-model="FirstName" type="text" name="firstname" title="Enter first name" placeholder="First name">
                </div>       
                <div class="col-sm-4">
                <label for="lastname" class="package_form detailform" >Last Name :</label>
                <input id="lastname" class="form-control input-group-lg reg_name detailformtext" type="text" ng-model="LastName" name="lastname" title="Enter last name" placeholder="Last name">
                </div>
                </div><!--/form-group-->
                
                <div class="form-group">
                <div class="col-sm-4">
                <label for="Email" class="package_form detailform">Email :</label>
                <input id="firstname" class="form-control input-group-lg reg_name detailformtext" type="email" ng-model="Email" name="firstname" title="MR / MRS" placeholder="Email">
                </div> 
                <div class="col-sm-4">
                <label for="firstname" class="package_form detailform" >Phone Number :</label>
                <input id="firstname" class="form-control input-group-lg reg_name detailformtext" type="tel" ng-model="PhoneNumber" name="firstname" title="Enter first name" placeholder="Phone Number">
                </div>       
                
                </div>
                <!--<input type="submit" id="submit" value="Submit" />-->
                </form>
                </div>
            </div>
            
            <div class="row">
            	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                	<div class="row">
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        	<h3 class="detailtext3">Check In Date: <strong>02-05-2017</strong></h3>
                            
                            <!--
                            <div class="input-group" moment-picker="ctrl.datepicker" format="MMM d, YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                <input class="form-control"  placeholder="Select a date" ng-model="ctrl.datepicker" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            -->
                        </div>
                        
                        <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                        	<h3 class="detailtext3">Check Out Date: <strong>02-05-2017</strong></h3>
                            <!--
                            <div class="input-group" moment-picker="ctrl.datepicker" format="MMM d, YYYY">
                                <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                                <input class="form-control"  placeholder="Select a date" ng-model="ctrl.datepicker" ng-model-options="{ updateOn: 'blur' }">
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    
                </div>
            </div>
            
            
        </div>
        
       	<div class="col-lg-4 col-sm-4 col-md-4 col-xs-12 whitebg">
        	<div class="row">
            	<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                	<div class="row" style="margin-top:20px;">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12" style="margin:15px 0 0 0;">
                            <img class="img-responsive img-portfolio img-hover  no-pad-mar" src="../../assets/ResortsImages/{{resListPhoto}}" alt="" >
                        </div>
            		</div>
                    <div class="row">
                        <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                            <h3 class="detailtitle">{{resListName}}</h3>
                            <h6 class="detailtext1">
                              {{resListDes}}
                            </h6> 
                        </div>
                    </div>
                    
                    <div class="row">
				
                    	<div class="col-lg-12">
						<h4 class="detailtitle">Travel Confirmation</h4>
                        	
                         
                         <div style="border:1px solid #d5d5d5">
                           	
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext" >Room 1</h6>
                                	<h6 class="packagesubtext" >Adult - 1 , Children - 2</h6>
                                </div>
                            </div>
                            
                          
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext">Date</h6>
                                	<h6 class="packagesubtext" >{{ctrl.datepicker}}</h6>
                                </div>
                            </div>
                            
                          
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext">Price Breakup</h6><p class="subcost">{{bookParkcurrentPrice | INR}}</p>
                                	<h6 class="packagesubtext">One Room X Two Nights</h6>
                                </div>
                            </div>
                            
                           
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext">Coupon</h6><p class="subcost">0.00 INR</p>
                                	<h6 class="packagesubtext" style="color:transparent;">One Room X Two Nights</h6>
                                </div>
                            </div>
                            
                           
                            <div class="card">
                                <div class="card-block cardcss">
                                	<h6 class="packagetitletext">Promo Discount</h6><p class="subcost">0.00 INR</p>
                                	<h6 class="result_title14 transparenttext" style="color:transparent;">One Room X Two Nights</h6>
                                </div>
                            </div>
                            
                            <div class="card">
                            	<div class="card-block cardcss">
                            		<h6 class="packagetitletext">Service Tax</h6><p class="subcost">0.00 INR</p>
                            		<h6 class="packagesubtext" style="color:transparent;">One Room X Two Nights</h6>
                            	</div>
                        	</div>
                            
                            <!-- <div class="card"> -->
                            	<!-- <div class="card-block cardcss"> -->
                                    <!-- <div class="row" ng-repeat="facility in FacilityNameList"> -->
                                    <!-- <div class="col-md-6" style="padding-left:3%;"> -->
                                    <!-- <h6 class="packagesubtext"><i class="fa fa-times-circle" aria-hidden="true" style="color:#bfbfbf;"></i><span style="padding-left:2%;">&nbsp;</span>{{facility.facilityTypeTitle}}</h6> -->
                                    <!-- </div>			 -->
                                    
                                    <!-- <div class="col-md-6" align="right"> -->
                                    <!-- <h6 class="result_title18 price_color" style="font-family: Open Sans !important;">{{facility.currentPrice | INR}}</h6> -->
                                    <!-- </div> -->
                                    <!-- </div> -->
                            	<!-- </div> -->
                            <!-- </div> -->
                             <div class="card">
                                 <div class="card-block cardcss">
                                     <div class="row" ng-repeat="facility in FacilityNameList">
                                         <div class="col-md-4" style="padding-left:3%;">
                                             <h6 class="result_title15" style="font-family: Open Sans !important;"><i class="fa fa-times-circle" aria-hidden="true" href="#" ng-click="deleteItem()" style="color:#bfbfbf;"></i><span style="padding-left:2%;">&nbsp;</span>{{facility.itemName}} </h6>
                                             <!--<h6 class="result_title15" style="font-family: Open Sans !important;"><i class="fa fa-times-circle" aria-hidden="true" style="color:#bfbfbf;"></i><span style="padding-left:2%;">&nbsp;</span>Day Care</h6>
                                             <h6 class="result_title15" style="font-family: Open Sans !important;"><i class="fa fa-times-circle" aria-hidden="true" style="color:#bfbfbf;"></i><span style="padding-left:2%;">&nbsp;</span>Water Park</h6>-->
                                         </div>

                                         <div class="col-md-4" align="center">
                                             <h6 class="result_title18 price_color" style="font-family: Open Sans !important;">{{facility.noOfItems}}  x  {{facility.orgPrice}}</h6>
                                         </div>

                                         <div class="col-md-4" align="right">
                                             <h6 class="result_title18 price_color" style="font-family: Open Sans !important;">{{facility.totalPrice | INR}}</h6>
                                         </div>
                                     </div>
                                 </div>
                             </div>
                            
                            <div class="card" >
                          		<div class="card-block cardcss" >
                            	<h6 class="packagetitletext">Total</h6><p class="totalcost">{{sum | INR}}</p>
                            	<h6 class="packagesubtext" >One Room X Two Nights</h6>
                            </div>
                            <div class="padding"></div>
                            <div class="row" align="center" style="margin:20px;">
                           		<button type="button" class="btn  btn-md" style="background-color:#33349B;border:1px solid #33349B;color:white;font-family: Open Sans !important;" ng-click="submit()">Proceed</button>
                            </div>
                          
                            </div>
                            
                            
                          
                            
                        </div>
                    
                    	</div>
                            </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
        <div class="row">&nbsp;</div>
    </div> 
</div>
     	
   
     
     

	 
</DIV>




	 
	 
	 
	 
	 
	 
	 

    
  
    <script src="../../assets/js/jquery.js"></script>

   
    <script src="../../assets/js/bootstrap.min.js"></script>

   
    <script>
    $('.carousel').carousel({
        interval: 5000 
    })
    </script>

</body>

</html>
