<!DOCTYPE html>
<html lang="en">
<head>
<title>Journey</title>
<meta charset="utf-8">
<link rel="icon" href="../../assets/images/favicon.ico">
<link rel="shortcut icon" href="../../assets/images/favicon.ico">
<link rel="stylesheet" href="../../assets/css/style.css">
<link rel="stylesheet" href="../../assets/css/slider.css">
<link rel="stylesheet" href="../../assets/css/rating.css">
<script src="../../assets/js/jquery.js"></script>
<script src="../../assets/js/jquery-migrate-1.1.1.js"></script>
<script src="../../assets/js/superfish.js"></script>
<script src="../../assets/js/sForm.js"></script>
<script src="../../assets/js/jquery.jqtransform.js"></script>
<script src="../../assets/js/jquery.equalheights.js"></script>
<script src="../../assets/js/jquery.easing.1.3.js"></script>
<script src="../../assets/js/tms-0.4.1.js"></script>
<script src="../../assets/js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../../assets/js/jquery.ui.totop.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css">
    <link data-require="bootstrap-css@*" data-semver="3.3.1" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
   <!-- <script data-require="angular.js@*" data-semver="1.3.15" src="//code.angularjs.org/1.3.15/angular.js"></script>-->
    <script src="../../assets/js/Angularjs/angular.min.js"></script>
    <script data-require="ui-bootstrap@*" data-semver="0.12.1" src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>



    <script src="../../assets/js/Angularjs/angular-ui-router.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-cookies.min.js"></script>
    <script src="../../assets/js/Angularjs/angular-route.min.js"></script>
    <script src="../../assets/js/Angularjs/ngAutocomplete.js"></script>



    <script src="../../assets/app.js"></script>

    <script src="../../assets/js/Angularjs/common.js"></script>
    <script src="../../app/Resorts/ResortCtr.js"></script>
    <script src="../../app/Resorts/ResortService.js"></script>
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyCqfFb8jsVREYScpt2SNOhonSVGY9E2iSk&libraries=places&sensor=false"></script>


<script>
$(window).load(function () {
    $('.slider')._TMS({
        show: 0,
        pauseOnHover: false,
        prevBu: '.prev',
        nextBu: '.next',
        playBu: false,
        duration: 800,
        preset: 'random',
        pagination: false, //'.pagination',true,'<ul></ul>'
        pagNums: false,
        slideshow: 8000,
        numStatus: false,
        banners: true,
        waitBannerAnimation: false,
        progressBar: false
    });
    $("#tabs").tabs();
    $().UItoTop({
        easingType: 'easeOutQuart'
    });
});
</script>
 <script>
      $(function(){
        $('input').on('change', function(){
         
        });
      });
    </script>
	<script type="text/javascript">
    $(document).ready(function() {
        $('#multiple-checkboxes').multiselect();
    });
</script>
	 <style>
     

      .myclass {
        color: red;
        font-size: 18px;
      }

    </style>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

	<script src="../../assets/build/bootstrap-rating-input.min.js"></script>
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<link rel="stylesheet" media="screen" href="css/ie.css">
<![endif]-->
</head>


<body class="page1" ng-app="MyApp" ng-controller="ResortCtr">
<header>
<div align="center">
  <h2>OUTING DAY </h2>
  </div>
</header>
<div class="" align="center">
    <!-- <div class="container_12"> -->
      
      <!-- <div class="bs-example" align="center"> -->


        <!-- <input type="text" class="typeahead tt-query" ng-autocomplete="result" details="details" options="options"  placeholder="search Restaurants"> -->
          <!-- <button ng-click="MainSearch()">Search</button> -->
    <!-- </div> -->
	<!-- <div class="bs-example" align="center" style="width:100%;display:inline-block;" > -->
<!-- <div style="width:40%;display:inline-block;"> -->
          <!-- <md-datepicker ng-model="myDate" md-min-date="minDate" md-max-date="maxDate" md-placeholder="From date" ></md-datepicker> -->

<!-- </div> -->
<!-- <div style="width:40%;display:inline-block;"> -->
<!-- <md-datepicker ng-model="myDate" md-min-date="minDate" md-max-date="maxDate" md-placeholder="To date"></md-datepicker> -->

<!-- </div> -->


       
    <!-- </div> -->
      <!-- <div class="clear"></div> -->
    <!-- </div> -->
	
  <div class="row" align="center">
  <div class="col-lg-6" align="center" style="float:inherit;">
    <div class="input-group" align="center">
      <span class="input-group-btn" align="center">
        <button class="btn btn-default" type="button">Search!</button>
      </span>
      <input type="text" class="form-control" placeholder="Search for hotels in your location..." ng-autocomplete="result" details="details" options="options">
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
 
</div>



  </div>
  <div style="width:100%;display:inline-block;padding-top:4%;" align="center">
<div style="width:40%;display:inline-block;">
 <md-datepicker ng-model="myDate" md-min-date="minDate" md-max-date="maxDate" md-placeholder="From date"></md-datepicker>
</div>
<div style="width:40%;display:inline-block;">
 <md-datepicker ng-model="myDate" md-min-date="minDate" md-max-date="maxDate" md-placeholder="To date"></md-datepicker>
</div>
 </div>



<div class="main">
  <div class="container_12">
    
  </div>
  <div class="content">
    <div class="container_12">
      <div class="grid_12">
        <h3></h3>
      </div>
      <!-- <div class="boxes"> -->
        <!-- <div class="grid_4"> -->
          <!-- <figure> -->
            <!-- <div><img src="images/page1_img1.jpg" alt=""></div> -->
            <!-- <figcaption> -->
              <!-- <h3>Venice</h3> -->
              <!-- Lorem ipsum dolor site geril amet, consectetur cing eliti. Suspendisse nulla leo mew dignissim eu velite a rew qw vehicula lacinia arcufasec ro. Aenean lacinia ucibusy fase tortor ut feugiat. Rabi tur oliti aliquam bibendum olor quis malesuadivamu. <a href="#" class="btn">Details</a> </figcaption> -->
          <!-- </figure> -->
        <!-- </div> -->
        <!-- <div class="grid_4"> -->
          <!-- <figure> -->
            <!-- <div><img src="images/page1_img2.jpg" alt=""></div> -->
            <!-- <figcaption> -->
              <!-- <h3>New York</h3> -->
              <!-- Psum dolor sit ametylo gerto consectetur ertori hykill holit adipiscing lity. Donecto rtopil osueremo	kollit asec emmodem geteq tiloli. Aliquam dapibus neclol nami wertoli elittro eget vulpoli no -->
              <!-- utaterbil congue turpis in su. <a href="#" class="btn">Details</a> </figcaption> -->
          <!-- </figure> -->
        <!-- </div> -->
        <!-- <div class="grid_4"> -->
          <!-- <figure> -->
            <!-- <div><img src="images/page1_img3.jpg" alt=""></div> -->
            <!-- <figcaption> -->
              <!-- <h3>Paris</h3> -->
              <!-- Lorem ipsum dolor site geril amet, consectetur cing eliti. Suspendisse nulla leo mew dignissim eu velite a rew qw vehicula lacinia arcufasec ro. Aenean lacinia ucibusy fase tortor ut feugiat. Rabi tur oliti aliquam bibendum olor quis malesuadivamu. <a href="#" class="btn">Details</a> </figcaption> -->
          <!-- </figure> -->
        <!-- </div> -->
        <!-- <div class="clear"></div> -->
      <!-- </div> -->
      <div class="grid_8">
        <div id="tabs">
         
          <div class="clear"></div>
		  
		  
		  
          <div class="tab_cont" id="tabs-1">
            <div class="extra_wrapper" ng-repeat="res in DetailsListInfo" style="padding-top:4%;padding-bottom:4%;border:1px solid #DEDBDB;">
			<img src="../../assets/ResortsImages/{{res.photoUrl}}" alt="" height="150" width="150">
              <div class="text1" style="padding-top:3%; font-weight:bold;">{{res.name}} </div>
			  <div class="text1" style="font-weight:bold;float:right;color:green;padding-right:2%;">{{res.minCost1}}</div>
			  <div class="text1" style="padding-top:0%;">{{res.city}}</div>
			   <div class="text1" style="padding-top:0%;">{{res.odRating}}</div>
			   <div class="text1" star-rating rating-value="res.odRating" max="5" style="display:inline-block;"></div>

			   <div class="text1" style="padding-top:0%;">{{res.popularity}}/100</div>
			   <div style="float:right;padding-right:1%;"><button type="button" class="btn btn-success">Deal</button></div>
              <p class="style1"><a class="col2" href="#"></a>  </p>
              
              <div class="clear "></div>
            </div>
            <div class="clear cl1"></div>

          </div>


        </div>
				  
		   <div>
  <pagination
        ng-model="currentPage"
        total-items="todos.length"
        max-size="maxSize"
        items-per-page="numPerPage"
        boundary-links="true">
</pagination>
</div>

      </div>
	   <div class="grid_4">
        <div class="newsletter_title">RATINGS</div>
        <div class="n_container">
         
			<div style="padding-top:5%;"></div>
   <section class="fl-group clearfix moz-no-select" id="fg_stars">
        
            <h4 class="fl-group__hdl moz-text-select">STARS</h4>
        

        
            
<div class="fl-group__btn-group clearfix">
    
        

<div class="checkbox">
           <label><input type="checkbox" value="">5 </label>
       </div>
	    <div class="checkbox">
           <label><input type="checkbox" value="">4</label>
       </div>
       <div class="checkbox ">
           <label><input type="checkbox" value="" >3</label>
       </div>
       <div class="checkbox ">
           <label><input type="checkbox" value="" >2</label>
       </div>
             <div class="checkbox ">
                 <label><input type="checkbox" value="" >1</label>
             </div>
            



    
</div>
    
      

        
    </section>

	
    
        </div>
      </div>
	  
	  
	  
	  
	  
	  
	  
	  
	  
	   <div class="grid_4">
        <div class="newsletter_title">TYPES OF RESTURANTS</div>
        <div class="n_container">
         
			<div style="padding-top:5%;"></div>
   <section class="fl-group clearfix moz-no-select" id="fg_stars">
        
            <h4 class="fl-group__hdl moz-text-select">TYPES</h4>
        

        
            
<div class="fl-group__btn-group clearfix">
    
        

<div class="checkbox">
           <label><input type="checkbox" value="">Friends </label>
       </div>
	    <div class="checkbox">
           <label><input type="checkbox" value="">Family</label>
       </div>
       <div class="checkbox ">
           <label><input type="checkbox" value="" >Kids</label>
       </div>
       <div class="checkbox ">
           <label><input type="checkbox" value="" >Solo</label>
       </div>
            


    
</div>
    
      

        
    </section>

	
    
        </div>
      </div>
	  
	   <div class="grid_4">
        <div class="newsletter_title">DURATION OF STAY</div>
        <div class="n_container">
         
			<div style="padding-top:5%;"></div>
   <section class="fl-group clearfix moz-no-select" id="fg_stars">
        
            <h4 class="fl-group__hdl moz-text-select">DURATION</h4>
        

        
            
<div class="fl-group__btn-group clearfix">
    
        

<div class="radio">
  <label><input type="radio" name="optradio">0-2 Hours</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">2-5 Hours</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" >Full</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio" >Multi day</label>
</div>
    
</div>
    
      

        
    </section>

	
    
        </div>
      </div>
	  
	  
      
	  
	  	   <div class="grid_4">
        <div class="newsletter_title">NUMBER OF PEOPLE</div>
        <div class="n_container">
         
			<div style="padding-top:5%;"></div>
   <section class="fl-group clearfix moz-no-select" id="fg_stars">
        
            <h4 class="fl-group__hdl moz-text-select">PEOPLE</h4>
        

        
            
<div class="fl-group__btn-group clearfix">
    
        

<div class="radio">
                   <label><input type="radio" name="optradio">1-5</label>
               </div>
               <div class="radio">
                   <label><input type="radio" name="optradio">6-10</label>
               </div>
               <div class="radio ">
                   <label><input type="radio" name="optradio" >11-20</label>
               </div>
               <div class="radio ">
                   <label><input type="radio" name="optradio" >20 +</label>
               </div>
           </div>

    
</div>
    
      

        
    </section>

	
   
        </div>
		   <div class="grid_4">
        <div class="newsletter_title">NATURE RESTURANTS</div>
        <div class="n_container">
         
			<div style="padding-top:5%;"></div>
   <section class="fl-group clearfix moz-no-select" id="fg_stars">
        
            <h4 class="fl-group__hdl moz-text-select">NATURE</h4>
        

        
            
<div class="fl-group__btn-group clearfix">
    
        

<div class="checkbox">
           <label><input type="checkbox" value="">Dayout </label>
       </div>
	    <div class="checkbox">
           <label><input type="checkbox" value="">Night Life</label>
       </div>
       
            


    
</div>
    
      

        
    </section>

	
    
        </div>
      </div>
	  
	     <div class="grid_4">
        <div class="newsletter_title">POPULARITY</div>
        <div class="n_container">
         
			<div style="padding-top:5%;"></div>
   <section class="fl-group clearfix moz-no-select" id="fg_stars">
        
            <h4 class="fl-group__hdl moz-text-select"></h4>
        

        
            
<div class="fl-group__btn-group clearfix">
    
        


<div class="container">
	<strong></strong>
    <select id="multiple-checkboxes" multiple="multiple" >
      <ul> <li> <option value="1">1</option></li>
       <li> <option value="2">2</option></li>
       <li> <option value="3">3</option></li>
        <li><option value="4">4</option></li>
        <li><option value="5">5</option></li>
        <li><option value="6">6</option></li>
		<li> <option value="7">7</option></li>
        <li><option value="8">8</option></li>
        <li><option value="9">9</option></li>
        <li><option value="10">10</option></li>
        <li><option value="11">11</option></li>
        <li><option value="12">12</option></li>
		<li><option value="13">13</option></li>
        <li><option value="14">14</option></li>
		<li> <option value="15">15</option></li>
        <li><option value="16">16</option></li>
        <li><option value="17">17</option></li>
        <li><option value="18">18</option></li>
        <li><option value="19">19</option></li>
        <li><option value="20">20</option></li>
		
        <li><option value="21">21</option></li>
        <li><option value="22">22</option></li>
		<li><option value="23">23</option></li>
        <li><option value="24">24</option></li>
		<li> <option value="25">25</option></li>
        <li><option value="26">26</option></li>
        <li><option value="27">27</option></li>
        <li><option value="28">28</option></li>
        <li><option value="29">29</option></li>
        <li><option value="30">30</option></li>
		
        <li><option value="31">31</option></li>
        <li><option value="32">32</option></li>
		<li><option value="33">33</option></li>
        <li><option value="34">34</option></li>
		<li> <option value="35">35</option></li>
        <li><option value="36">36</option></li>
        <li><option value="37">37</option></li>
        <li><option value="38">38</option></li>
        <li><option value="39">39</option></li>
        <li><option value="40">40</option></li>
		
		 <li><option value="41">41</option></li>
        <li><option value="42">42</option></li>
		<li><option value="43">43</option></li>
        <li><option value="44">44</option></li>
		<li> <option value="45">45</option></li>
        <li><option value="46">46</option></li>
        <li><option value="47">47</option></li>
        <li><option value="48">48</option></li>
        <li><option value="49">49</option></li>
        <li><option value="50">50</option></li>
		
		 <li><option value="51">51</option></li>
        <li><option value="52">52</option></li>
		<li><option value="53">53</option></li>
        <li><option value="54">54</option></li>
		<li> <option value="55">55</option></li>
        <li><option value="56">56</option></li>
        <li><option value="57">57</option></li>
        <li><option value="58">58</option></li>
        <li><option value="59">59</option></li>
        <li><option value="60">60</option></li>
		
		 <li><option value="61">61</option></li>
        <li><option value="62">62</option></li>
		<li><option value="63">63</option></li>
        <li><option value="64">64</option></li>
		<li> <option value="65">65</option></li>
        <li><option value="66">66</option></li>
        <li><option value="67">67</option></li>
        <li><option value="68">68</option></li>
        <li><option value="69">69</option></li>
        <li><option value="70">70</option></li>
		
		<li><option value="71">71</option></li>
        <li><option value="72">72</option></li>
		<li><option value="73">73</option></li>
        <li><option value="74">74</option></li>
		<li> <option value="75">75</option></li>
        <li><option value="76">76</option></li>
        <li><option value="77">77</option></li>
        <li><option value="78">78</option></li>
        <li><option value="79">79</option></li>
        <li><option value="80">80</option></li>
		
		<li><option value="81">81</option></li>
        <li><option value="82">82</option></li>
		<li><option value="83">83</option></li>
		<li><option value="84">84</option></li>
		<li> <option value="85">85</option></li>
        <li><option value="86">86</option></li>
        <li><option value="87">87</option></li>
        <li><option value="88">88</option></li>
        <li><option value="89">89</option></li>
        <li><option value="90">90</option></li>
		
		<li><option value="91">91</option></li>
        <li><option value="92">92</option></li>
		<li><option value="93">93</option></li>
		<li><option value="94">94</option></li>
		<li> <option value="95">95</option></li>
        <li><option value="96">96</option></li>
        <li><option value="97">97</option></li>
        <li><option value="98">98</option></li>
        <li><option value="99">99</option></li>
        <li><option value="100">100</option></li>
		</ul>
    </select>
</div>


    
</div>
    
      

        
    </section>

	
    
        </div>
      </div>
	  
	    <div class="grid_4">
        <div class="newsletter_title">PRICES</div>
        <div class="n_container">
         
			<div style="padding-top:5%;"></div>
   <section class="fl-group clearfix moz-no-select" id="fg_stars">
        
            <h4 class="fl-group__hdl moz-text-select"></h4>
        

        
            
<div class="fl-group__btn-group clearfix">
    
    <div style="width:100%;display:inline-block;">
	<div style="width:50%;display:inline-block;">
	<button type="button" class="btn btn-success">Prices<i class="fa fa-level-up" aria-hidden="true"></i></button>
</div>
<div style="width:50%;display:inline-block;float:right;">
<button type="button" class="btn btn-success">Prices <i class="fa fa-level-down" aria-hidden="true"></i></button>
	
</div>
	
</div>    





    
</div>
    
      

        
    </section>

	
    
        </div>
      </div>
	  
	  
	  
		  	   <div class="grid_4">
        <div class="newsletter_title">DISTANCE</div>
        <div class="n_container">
         
			<div style="padding-top:5%;"></div>
   <section class="fl-group clearfix moz-no-select" id="fg_stars">
        
            <h4 class="fl-group__hdl moz-text-select"></h4>
        

        
            
<div class="fl-group__btn-group clearfix">
    
        

<div class="checkbox">
           <label><input type="checkbox" value=""><10 Km </label>
       </div>
	    <div class="checkbox">
           <label><input type="checkbox" value=""><25 Km</label>
       </div>
       <div class="checkbox ">
           <label><input type="checkbox" value="" >>25 Km</label>
       </div>
     
            
               
           </div>

    
</div>
    
      

        
    </section>

	
   
        </div>
		<div style="padding-top:10%;">
		</div>
		    <div class="grid_4" style="background-color:green;color:white;">
        <div class="newsletter_title" style="background-color:green;color:white;"><a style="color:white;">RECENTLY ADDED</a></div>
       
      </div>
		
		
      </div>
  
 
  <!-- <div class="bottom_block"> -->
    <!-- <div class="container_12"> -->
      <!-- <div class="grid_2 prefix_2"> -->
        <!-- <ul> -->
          <!-- <li><a href="#">FAQS Page</a></li> -->
          <!-- <li><a href="#">People Say</a></li> -->
        <!-- </ul> -->
      <!-- </div> -->
      <!-- <div class="grid_2"> -->
        <!-- <ul> -->
          <!-- <li><a href="#">Useful links</a></li> -->
          <!-- <li><a href="#">Partners</a></li> -->
        <!-- </ul> -->
      <!-- </div> -->
      <!-- <div class="grid_2"> -->
        <!-- <ul> -->
          <!-- <li><a href="#">Insurance</a></li> -->
          <!-- <li><a href="#">Family Travel</a></li> -->
        <!-- </ul> -->
      <!-- </div> -->
      <!-- <div class="grid_2"> -->
        <!-- <h4>Contact Us:</h4> -->
        <!-- TEL: 1-800-234-5678<br> -->
        <!-- <a href="#">info@demolink.org</a> </div> -->
      <!-- <div class="clear"></div> -->
    <!-- </div> -->
  <!-- </div> -->
</div>
 
<footer>

  <div class="container_12">
    <div class="grid_12">
      <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>
      <div class="copy"> Journey &copy; 2045 | <a href="#">Privacy Policy</a> | Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a> </div>
    </div>
    <div class="clear"></div>
  </div>
</footer>
</body>
</html>
<!--<script  type="text/javascript" src="../js/typeahead/0.11.1/typeahead.bundle.js"></script>-->
<script type="text/javascript">
$(document).ready(function(){
    // Defining the local dataset
    var cars = ['Audi', 'BMW', 'Bugatti', 'Ferrari', 'Ford', 'Lamborghini', 'Mercedes Benz', 'Porsche', 'Rolls-Royce', 'Volkswagen'];
    
    // Constructing the suggestion engine
    var cars = new Bloodhound({
        datumTokenizer: Bloodhound.tokenizers.whitespace,
        queryTokenizer: Bloodhound.tokenizers.whitespace,
        local: cars
    });
    
    // Initializing the typeahead
    $('.typeahead').typeahead({
        hint: true,
        highlight: true, /* Enable substring highlighting */
        minLength: 1 /* Specify minimum characters required for showing result */
    },
    {
        name: 'cars',
        source: cars
    });
});  
</script>
<style>
ul {height:250px;overflow-y:scroll;}
</style>
<style type="text/css">

.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group span.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

</style>