.navbar-inverse{background-color:#313496 !important;}
.navbar-top{background-color:#121444 !important; height:40px;}
.navbar-brand{color:#ffffff !important; font-size:30px;}
.navbar-brand span{color:#ffbb39 !important;}
.search-button{width:120px !important; border-radius: 5px 0 0 5px !important; color:#000;}
.btn-warning{color:#000 !important;}
.offers-columns-padding{padding:0 -1px 0 5px !important;}
.no-pad-mar{padding:0; margin:0;}

a.facebook{ background-image:url(../images/facebook.png); display:inline-block; width:31px; height:31px; margin:0 20px 0 20px;}
a.facebook:hover{ background-image:url(../images/facebook_hover.png);}

a.twitter{ background-image:url(../images/twitter.png); display:inline-block; width:31px; height:31px; margin:0 20px 0 20px;}
a.twitter:hover{ background-image:url(../images/twitter_hover.png);}

a.instagram{ background-image:url(../images/instagram.png); display:inline-block; width:31px; height:31px; margin:0 20px 0 20px;}
a.instagram:hover{ background-image:url(../images/instagram_hover.png);}

a.pinterest{ background-image:url(../images/pinterest.png); display:inline-block; width:31px; height:31px; margin:0 20px 0 20px;}
a.pinterest:hover{ background-image:url(../images/pinterest_hover.png);}
a.footerlinks{ color:#fff; text-decoration:none;}
a.footerlinks:hover{color:#FFCC00;}
.footerlist{list-style:none; padding:0; margin:0;}
.carousel-caption {padding-bottom:200px !important; left:60%;}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}


.autocomplete-custom-template li {
  /*  border-bottom: 1px solid #ccc;*/
    height: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: normal;
}
.autocomplete-custom-template .item-title,
.autocomplete-custom-template .item-metadata {
    display: block;
    line-height: 2;
}


/*  Auto loder */
.modal-header{


}
.modal-body {


    font-size: 12px !important;
    width: 330px !important;
    padding: 0 15px !important;
    line-height: 34px !important;
    height: 34px !important;
    top:13%;

}


.modal-footer{
top:13%;
color:#C34F5E;
text-align:left;
}


/*  Search box */


md-autocomplete {
    border-radius: 0px 2px 2px 0px !important;
    display: block;
    height: 34px !important;
    position: relative;
    overflow: visible;
    min-width: 190px;
}
md-autocomplete input:not(.md-input) {
    font-size: 14px !important;
    
   
    width: 100% !important;
    padding: 0 15px !important;
    line-height: 34px !important;
    height: 34px !important;
}

.md-whiteframe-1dp, .md-whiteframe-z1 {
   box-shadow:none !important; 
}

.btn:hover
{
    background-image:none !important;
    background-color:#313496 !important;
    color:#ffffff !important;
}

@media screen and (min-device-width: 481px) and (max-device-width: 768px) {
    .md-virtual-repeat-container.md-autocomplete-suggestions-container {
        top: 94px !important;
    }
	 .slider {
			height:330px !important;
		 
	 }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .md-virtual-repeat-container.md-autocomplete-suggestions-container {
        top: 144px !important;
    }
	.slider {
			height:200px !important;
		 
	 }
}

@media screen and (min-device-width: 1023px) and (max-device-width: 1400px) {
    .md-virtual-repeat-container.md-autocomplete-suggestions-container {
        top: 94px !important;
    }
	
}

@media screen and (min-device-width: 1023px) and (max-device-width: 1279px) {
   
	.slider {
			height:420px  !important;
		 
	 }
}

@media screen and (min-device-width: 1280px) and (max-device-width: 1400px) {
    
	.slider {
			height:500px  !important;
		 
	 }
}


.md-virtual-repeat-container.md-autocomplete-suggestions-container {
    left: 451px;
    min-width: 532px;
    max-width: 975px;
    bottom: auto;
    max-height: 240px;
    z-index: 100000 !important;
    border:solid 1px #ccc;
    position:fixed !important;
}

.checkbox{margin:0 !important;}






.carousel_BG{padding:0 5% 0 5%; background-image:url(../images/Outing_bg.jpg); background-position:center;}
.result_bg{width:100%; margin-bottom:15px; border:solid 1px #ccc; border-radius:5px 5px 0px 0px; background-color:#ffffff;}
.result_container{padding:10px;}
.result_image{ border-radius: 50%; width:120px; height:120px;}
.result_image1{  width:120px; height:120px;}
.result_title2{color:#313496;font-weight:bold !important;padding-left:1%;}
.result_title4{color:#313496;font-weight:bold !important;padding-left:4%;}
.result_title5{color:#4CAF50;font-weight:bold !important;padding-left:1%;}
.result_title3{color:#313496;font-weight:bold !important;padding-left:2%;padding-right:10%;}
.result_title1{color:#373D47;font-size:14px!important;}
.result_title6{padding-left:5%;text-align:left;}
.result_title7{padding-right:4%;text-align:right;}
.result_title9{padding-left:2%;text-align:left;}
.result_title10{padding-left:2%;text-align:left;font-size:14px;}
.result_title11{padding-left:2%;text-align:left;font-size:16px;color:#4A4A4A;font-weight:bold;}
.result_title12{padding-right:2%;text-align:right;font-size:16px;color:#EB202C;font-weight:bold;}
.result_title13{padding-right:2%;text-align:right;font-size:16px;color:#4CAF50;font-weight:bold;}
.result_title14{color:black;padding-left:1%;}
.result_title15{color:black;font-weight:bold;padding-left:1%;}
.result_title16{color:#C34F5E;font-weight:bold;padding-left:1%; line-height:0;float:right;padding-right:2%;}
.result_title17{color:#313496;font-weight:bold;padding-left:1%; line-height:0;float:right;padding-right:2%;}
.result_title18{color:#C34F5E;font-weight:bold; padding-right:3%;}
.result_title19{color:#C34F5E;font-weight:bold; line-height:0;float:right;padding-right:2%;}

.result_title{color:#313496;font-weight:bold !important;}



/* Links inside the dropdown */
.dropbtn {
    background-color: #feb824;
    color: #2c3091;
    /* padding: 9px 0px 7px 8px; */
	 padding: 9px 0px 2px 8px;
    font-size: 13px !important;
    border: none;
    font-weight:bold;
    cursor: pointer;
    border-radius: none;
    width:150px;
}
.dropbtn1 {
    background-color: #feb824;
    color: #2c3091;
   padding: 9px 0px 5px 8px; 
	 /* padding: 9px 0px 3px 8px; */
    font-size: 13px !important;
    border: none;
    font-weight:bold;
    cursor: pointer;
    border-radius: none;
    width:150px;
}
.dropbtn2 {
    background-color: #feb824;
    color: #2c3091;
   padding:4px 0px 10px 8px; 
	 /* padding: 9px 0px 3px 8px; */
    font-size: 13px !important;
    border: none;
    font-weight:bold;
    cursor: pointer;
    border-radius: none;
    width:150px;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #feb824;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align:left !important;
}

.dropdown-content a {
    color: black;
    padding: 12px 8px 7px 8px;
    text-decoration: none;
    display: block;
    font-weight:bold;
    font-size: 13px !important;
    color:#000 !important;

}


.dropdown-content a span{color:#2c3091 !important;}

.dropdown-content a:hover {background-color: #d19007}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown {
    background-color: #feb824;
}

/* Date Picker */

/*
md-datepicker{
    background-color:#f8f9f9 !important;

}
*/


.rating {
    padding: 0;
    margin: 0;
/*    background: blue;*/
    list-style-type: none;
}

.rating li {
    display: inline-block;
    white-space: nowrap;
  /*  background-color: green;*/
}

.star {
    cursor: pointer;
    color: #dde2de;
}

.star.filled {
    color: #FEB824;
}
/*
.star {
    cursor: pointer;
    color: white;
}

.star.filled {
    color: #FEB824;
}
*/
.stepwizard-step p {
    margin-top: 10px;    
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;     
    width: 100%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
    
}

.stepwizard-step {    
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}



@import url('http://getbootstrap.com/dist/css/bootstrap.css');






.navbar-inverse .navbar-nav>li>a {
    color: #333 !important;
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #666 !important;
    background-color: transparent !important;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #9d9d9d;
    background-color: transparent !important;
	border-bottom:solid 3px #313496 !important;
}
.details{
	background-color:white;
	box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.1);

}
.input_buttons{
	padding-left:1%;
}
.padding{
	padding-top:3%;
}
.btn-custom{
	background-color:#33349B;
	color:white;
	border:1px solid #33349B;
	text-transform:none;
	border-radius:6px;
}
.btn-disabled{
	background-color:#858585;
	color:white;
	text-transform:none;
	border-radius:6px;
}
.package_form{
	color:black;
}
.package_sidenav{
	padding-left:7%;
}
img {
    margin-bottom: 13px !important;
}
.padding2{
	padding-top:1%;
}
.cardcss{
	border:1px solid #d5d5d5;
	border-top-color:transparent;
	border-left-color:transparent;
	border-right-color:transparent;
	background-color:white;
	padding-top: 0.5%;
    padding-bottom: 0.5%;
	/* border-radius:6px; */
}
.checkbox label, .radio label {
    min-height: 20px !important;
    padding-left: 20px !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    cursor: pointer !important;
    color: black !important;
}





.modal-dialog {
    width: 100% !important;
    margin: 40px 0 0 0 !important;
	
	

}
.modal-content{
    width:330px !important;
    float:right;
   margin-right: 15px;

}


.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 12 !important;
}

md-icon {
    margin: auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    fill: currentColor;
    height: 24px;
    width: 24px;
    min-height: 24px;
    min-width: 24px;
    color: white !important;
}

.md-datepicker-input {
    font-size: 14px;
    box-sizing: border-box;
    border: none;
    box-shadow: none;
    outline: none;
    background: transparent;
    min-width: 120px;
    max-width: 328px;
    padding: 0 0 5px;
    color: white !important;
}

/*
.md-default-theme .md-datepicker-triangle-button .md-datepicker-expand-triangle, .md-datepicker-triangle-button .md-datepicker-expand-triangle {
     border-top-color: none !important;
}*/

.md-datepicker-triangle-button .md-datepicker-expand-triangle {
   border-top-color: white !important;
}
.transparenttext{
	color:#bfbfbf;
	font-size:14px;
}
.price_color{
	color:black !important;
	font-weight:bold !important;
}
.Aminitiestext{
	color:black;
}
body{
	background-color:#f3f3f3 !important;
}
